/* Simple
.mainDiv{
    position: relative;
    width: 206px;
    height: 190px;
    margin: 0px auto;
    margin-top:100px;
  }

/* Cube */

.cube{
    /* width:50px;
    height:50px; */
}

/* Left */
.cubeLeft {
    width:168px;
    height:152px;
    transform: rotate(30deg) skew(30deg);
    position: absolute;
    top: 202px;
    left:172px;
}

#left1 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left2 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left3 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left4 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left5 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left6 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left7 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left8 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#left9 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}

/* TOP  */
.cubeTop {
    width:183px;
    height:218px;
    transform: scaleY(0.59) rotate(45deg);
    position:absolute;
    top:42.5px;
    left:212px;
  }

#top1 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top2 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top3 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top4 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top5 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top6 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top7 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top8 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}
#top9 {
    background: gray;
    height:63px;
    width:61px;
    border:black 2px solid;
    float:left;
}

/* Right */
  
.cubeRight {
    width:167px;
    height:160px;
    transform: rotate(-30deg) skew(-30deg);
    position:absolute;
    top: 192px;
    left:302px;
}

#right1 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right2 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right3 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right4 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right5 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right6 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right7 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right8 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
#right9 {
    background: gray;
    height:50px;
    width:50px;
    border:black 2px solid;
    float:left;
}
